.custom-table-searchbar {
    position: relative;

    input {
        background: none;
        outline: medium none invert !important;
        outline: initial !important;
        border: 1px solid #8f8f8f;
        border-radius: 15px;
        padding: 0.25rem 0.75rem;
        font-size: 0.76rem;
        line-height: 1.2;
        color: #3a3a3a;
    }

    i {
        cursor: pointer;
        position: absolute;
        top: 7.2px;
        transition: all $menu-collapse-time ease;
        left: 8.7rem;
    }

    @media (max-width: 576px) {
        input {
            width: 100%;
            padding: 0.6rem 0.75rem;
            font-size: 1rem;
        }

        .simple-icon-magnifier {
            left: 88%;
            font-size: 1.2rem;
            top: .7rem;
        }
    }
}